@tailwind base;
@tailwind components;
@tailwind utilities;

/* .start-ranting-now-section {
  background-image: url("./assets/start-renting-now-img.png");
  background-position: center;
  background-size: cover;
  height: 115vh;
} */
